/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
}

/* Header styles */
header {
    background-color: #e0e0e0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.clothly-logo p {
    margin: 0 0 0 65px;
    font-size: 1.9rem;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    padding: 0 2rem;
    transition: transform 0.3s ease;
}

nav ul li:hover {
    transform: translateY(-5px);
}

.category-name {
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

nav ul li:hover .category-name {
    display: block;
    opacity: 1;
}

.landing {
    color: #fff;
    text-align: center;
}

.landing .foto {
    position: relative;
    overflow: hidden;
}

.landing img {
    width: 100%;
    filter: blur(5px); /* Apply blur effect to the image */
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.landing h2 {
    font-size: 36px;
}

.landing h2.first {
    color: black;
    display: inline;
}

.landing h2.second {
    color: white;
    display: inline;
    margin-right: -16px;
}

.landing p {
    font-size: 18px;
    margin-bottom: 30px;
}

.landing p.first {
    display: inline;
    color: black;
}

.landing p.second {
    display: inline;
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e63900;
}

#products {
    background-color: #f4f4f4;
    padding-top: 50px;
    margin-bottom: 70px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    background-color: #f4f4f4; /* Change background color on hover */
    transform: translateY(-5px); /* Add a slight lift effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.product-card p {
    margin-bottom: 10px;
    font-size: 16px;
}

.product-card span {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.product-card a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-card a:hover {
    background-color: #e63900;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
